@mixin btn {
    padding: 1.2em 2em;
    border: 1.2px solid $dark;
    border-radius: 20px;
    font-weight: 700;
}

.btn-white{
    @include btn;
    background-color: $primary-color;
    &:hover{
        background-color: $dark;
        color: $primary-color;
        cursor: pointer
    }
}

.btn-dark{
    @include btn;
    background-color: $dark;
    color: $primary-color;
    &:hover{
        background-color: $primary-color;
        color: $dark;
        cursor: pointer
    }
}
