
nav{
    width: 100%;
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-bar{
        display: flex;
        align-items: center;
        gap: 6em;

        ul{
            display: flex;
            gap: 1.2em;
            position: relative;
            .center{
                display: flex;
                justify-content: start;
                gap: 1em;
                align-content: center;
            }
        }
    }

}

main{
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 90vw;
    .landing{
        width: 100%;
        height: 80vh;
        display: flex;
        padding: 0 5em;
        justify-content: space-between;
        gap: 2em;

        .copy{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 2.5em;
            .clients{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                gap: 1em;
            }
        }

        .hero-img{
            width: 50%;
            display: flex;
            justify-content: end;
            img{
                height: 100%;
            }
        }
    }
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: $secondary-color;

    a{  
        font-weight: 700;
        &:hover{
            color: $dark;
        }
    }
}
